<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor='lightgreen'>
 {% csrf_token %}
<center>
    <h1>Student's Information</h1>
</center>
<table bgcolor="pink" border="5" width="100%">
    <thead>
        <th>Student Id </th>
        <th>Student Name </th>
        <th>Student Mobile_No </th>
        <th>Student Email </th>
        <th>Course Registered  </th>

     </thead>
    {% for i in StudentInfo %}
    <tr>
        <td> {{i.id}}</td>
        <td> {{i.name}}</td>
        <td> {{i.mob_no}}</td>
        <td> {{i.email}}</td>
        <td> {{i.course}}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>