<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor='lightgreen'>
 {% csrf_token %}
<center>
    <h1>Employee's Information</h1>
</center>
<table bgcolor="pink" border="5" width="100%">
    <thead>
        <th>Employee Id </th>
        <th>Employee Name </th>
        <th>Employee Mobile_No </th>
        <th>Employee Email </th>
        <th>Employee Job </th>

     </thead>
    {% for i in employeeInfo %}
    <tr>
        <td> {{i.id}}</td>
        <td> {{i.name}}</td>
        <td> {{i.mob_no}}</td>
        <td> {{i.email}}</td>
        <td> {{i.job}}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>